<!doctype html>
<html lang="en">
{% import "macros/head.html" as head %}
{{head.title('Alfa Agencies')}}
<body>
    <div class="wrapper">
        {% include "partials/sidebar.html" %}
        {% include "partials/navbar.html" %}
        {% import "macros/dashboard_card.html" as dashboard %}
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            {{dashboard.card('nc-cart-simple','text-success','In',data.inCount,'fa fa-calendar-o','This month')}}
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            {{dashboard.card('nc-delivery-fast','text-warning','Out',data.outCount,'fa fa-calendar-o','This month')}}
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            {{dashboard.card('nc-paper-2','text-primary','Stock',data.stockCount,'fa fa-calendar-o','This month')}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% include "partials/core_js.html" %}
{% import "macros/plugins.html" as plugins %}  
{{plugins.script('light-bootstrap-dashboard')}}
{{plugins.script('bootstrap-selectpicker')}}
</html>