<!doctype html>
<html lang="en">
{% import "macros/head.html" as head %}
{{head.title('Alfa Agencies')}}

<body>
    <div class="wrapper">
        {% include "partials/sidebar.html" %}
        {% include "partials/navbar.html" %}
        {% import "macros/forms.html" as form %}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card data-tables">
                            <div class="card-body table-striped table-no-bordered table-hover dataTable dtr-inline table-full-width">
                                <div class="toolbar">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            {{form.picker('From','datepicker','startDate',body.startDate,'')}}
                                        </div>
                                        <div class="col-sm-3">
                                            {{form.picker('To','datepicker','endDate',body.endDate,'')}}                                            
                                        </div>
                                        <div class="col-sm-3">
                                            <select id="type" class="selectpicker" data-title="Type" data-style="btn-default btn-outline"
                                                data-menu-style="dropdown-blue" data-size="5" required>
                                                <option value="in">In</option>
                                                <option value="out">Out</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                            <button class="btn btn-icon btn-round btn-danger go">Go</button>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                </div>
                                <div class="fresh-datatables">
                                    <table id="historyTable" class="table table-striped table-no-bordered table-hover"
                                        cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Created</th>
                                                <th>Client / Invoice</th>
                                                <th>Qty</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th>Created</th>
                                                <th>Client / Invoice</th>
                                                <th>Qty</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- View Invoice Modal -->
    <div class="modal fade modal-primary" id="showInvoiceDetails" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h4>Invoice Details</h4> 
                </div>
                <div class="modal-body">
                    <br/> 
                    {% if user.isAdmin %}
                    <button type="button" class="btn btn-wd btn-danger" id='show'>View Mode</button>
                    {% endif %}
                    <br/>
                    <button class="btn btn-icon btn-danger csv">CSV</button>
                    <table id="invoiceTable" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Brand Name</th>
                                <th>Style Name With Color</th>
                                <th>MRP</th>
                                <th>Size</th>
                                <th>Qty</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>Brand Name</th>
                                <th>Style Name With Color</th>
                                <th>MRP</th>
                                <th>Size</th>
                                <th>Qty</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link btn-simple" data-dismiss="modal">Back</button>
                </div>
            </div>
        </div>
    </div>
    <!--  End Modal -->
    <!-- Edit Qty Modal -->
    <div class="modal fade modal-primary" id="editQty" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h4>Edit Quantity</h4>
                </div>
                <div class="modal-body">
                    <form id="Validation" action="javascript:void(0)" onkeypress="return event.keyCode != 13;">

                        {{form.hidden('invoice',body.invoice,'')}}
                        {{form.hidden('barCode',body.barCode,'')}}
                        {{form.hidden('type',body.type,'')}}

                        {{form.input('Quantity','text','qty',body.qty,'',"number=true","required=true")}}

                        <div class="form-group">
                            <div class="text-center">
                                <button class="btn btn-wd btn-danger submit">Update Quantity</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link btn-simple" data-dismiss="modal">Back</button>
                </div>
            </div>
        </div>
    </div>
    <!--  End Modal -->
</body>
<script>
    /*For inlcuding variables at the top*/
    var isAdmin="{{user.isAdmin}}" === "true";
    var message;
</script>
{% include "partials/core_js.html" %}
{% import "macros/plugins.html" as plugins %}
{{plugins.script('bootstrap-notify')}}
{{plugins.script('moment.min')}}
{{plugins.script('bootstrap-datetimepicker')}}
{{plugins.script('sweetalert2.min')}}
{{plugins.script('jquery.dataTables.min')}}
{{plugins.script('buttons.html5.min')}}
{{plugins.script('light-bootstrap-dashboard')}}
{{plugins.script('bootstrap-selectpicker')}}
{{plugins.script('demo')}}
{% include "partials/functions.html" %}
<script>
    $(document).ready(function () {

        {% if error_flash %}
            demo.showNotification('top', 'center', '{{ error_flash }}', 'danger', 'nc-icon');
        {% endif %}

        {% if messages.error %}
            demo.showNotification('top', 'center', '{{ error_flash }}', 'danger', 'nc-icon');
        {% endif %}

        $('#historyTable').DataTable({
        }).column(0).visible(false);

        $('#invoiceTable').DataTable({
            // "footerCallback": function ( row, data, start, end, display ) {
            //     var api = this.api();
                
            //     // Remove the formatting to get integer data for summation
            //     var intVal = function ( i ) {
            //         return typeof i === 'string' ?
            //             i.replace(/<[^>]*>/g, "")*1 :
            //             typeof i === 'number' ?
            //                 i : 0;
            //     };
    
            //     // Total over all pages
            //     total = api
            //         .rows()
            //         .data()
            //         .reduce( function (a, b) {
            //             return intVal(a) + intVal(b[5]);
            //         }, 0 );
    
            //     // Total over this page
            //     pageTotal = api
            //         .rows({ page: 'current'})
            //         .data()
            //         .reduce( function (a, b) {
            //             return intVal(a) + intVal(b[5]);
            //         }, 0 );
    
            //     // Update footer
            //     $( api.column( 5 ).footer() ).html(
            //         pageTotal +' ( '+ total +' total)'
            //     );
            // }
        }).column(0).visible(false);

        $('.csv').click(() => {
            var fileName = 'Alfa Agencies' + '_' + $('#type').val().toUpperCase() + '_' + new Date().toLocaleString() + '.csv';
            $.get(`{{admin_url}}history/csv?type=${$('#type').val()}&invoice=${$("#Validation [name='invoice']").val()}`, 
            function (data) {
                $.fn.dataTable.fileSave(
                    new Blob([data]),
                    fileName
                );
            });
        });

        $('#show').click(function(){
            $(this).text($(this).text() === "Edit Mode" ? "View Mode" : "Edit Mode");
            var table = $('#invoiceTable').DataTable();

            table.column(4).visible(!table.column(4).visible());

            table.clear().draw();
            getDataAndUpdateInvoiceTable($("#Validation [name='invoice']").val());
        });

        $('#historyTable').on( 'click', 'td:nth-child(2)', function (e) {
            var row = $('#historyTable').DataTable().rows().data()[$(this).closest("tr").index()];
            var invoiceTable = $('#invoiceTable').DataTable();
            invoiceTable.column(4).visible($('#type').val() === "in" ? true : isAdmin);
            invoiceTable.clear().draw();
            getDataAndUpdateInvoiceTable(row[0]);
            $("#Validation [name='invoice']").val(row[0]);
            // $( $('#invoiceTable').DataTable().column( 5 ).footer() ).html('Total '+row[3]);
        });
 
        $('#invoiceTable').on( 'click', 'td:nth-child(5)', function (e) {
            var row = $('#invoiceTable').DataTable().rows().data()[$(this).closest("tr").index()];
            $("#Validation [name='barCode']").val(row[0]);
            $("#Validation [name='type']").val($('#type').val());
            $("#Validation [name='qty']").val(row[row.length - 1].replace(/<[^>]*>/g, ""));
        });

        $('.submit').click(function(){
            var formData = $('#Validation').serializeArray();
            var obj = formData.reduce((obj,current)=>{
                obj[current.name] = current.value;
                return obj;
            },{});
            editProductQuantity(obj);
            $('#editQty').modal('hide');
        });

        
        $('.go').click(function(){
            var from =  $('[ name="startDate"]').val();
            var to = $('[name="endDate"]').val();
            var type = $('#type').val();
            
            if(from && to && type)
            {
                $('#historyTable').DataTable().clear().draw();
                getDataAndUpdateHistoryTable(from, to, type);
            }
        });

        function intVal ( i ) {
            return typeof i === 'string' ?
                i.replace(/<[^>]*>/g, "")*1 :
                typeof i === 'number' ?
                    i : 0;
        };

        function editProductQuantity(obj) {
            $.post('{{admin_url}}history/invoice/update',obj,function(res){
                var { data } = res;

                if(!res.error)
                {
                    var table = $('#invoiceTable').DataTable();
                    table.rows().every(function () {
                        var row = this.data();
                        if (row[0] === obj.barCode) {
                            go = false;
                            row[row.length - 1] = isAdmin && table.column(4).visible() ? `<a href="javascript:void(0)" class="edit" data-toggle="modal" data-target="#editQty" rel="tooltip" title="Edit Qty">${obj.qty}</a>`:obj.qty;
                        }

                        this.data(row);

                    }).draw();

                    $( table.column( 5 ).footer() ).html('Total '+table.column(5).data().reduce((a,b)=>intVal(a) + intVal(b),0));

                }
                else{
                    demo.showNotification('top', 'center', res.message, 'danger', 'nc-icon');
                }
            });
        }

        function getDataAndUpdateHistoryTable(from, to, type) {
            $.post('{{admin_url}}history', {
                from,
                to,
                type
            }, (res) => {
                var { data } = res;
                data.forEach(invoice=>{
                    $('#historyTable').DataTable().row.add([
                        invoice.invoice._id,
                        new Date(invoice._id.created).toISOString().substring(0,10),
                        `<a href="javascript:void(0)" class="invoice" data-toggle="modal" data-target="#showInvoiceDetails" rel="tooltip" title="Show Details">${invoice.invoice.invoice}</a>`,
                        invoice.qty,
                    ]).draw(false);
                });
            });
        }

        function getDataAndUpdateInvoiceTable(id){
            $.post('{{admin_url}}history/invoice', {
                id
            }, (res) => {
                var { data } = res;
                var table = $('#invoiceTable').DataTable();
                data.forEach(data=>{
                    var go = true;

                    if($('#type').val() === "out" && !table.column(4).visible()) {

                        table.rows().every(function () {
                            var row = this.data();
                            if (row[2] === data.product.styleCode) {
                                go = false;
                                row[row.length - 1] += data.qty;
                            }
    
                            this.data(row);
    
                        });
                    }

                    if(go) {
                        table.row.add([
                            data.product.barCode,
                            data.product.brand.name,
                            data.product.styleCode,
                            data.product.mrp,
                            data.product.size,
                            isAdmin && table.column(4).visible() ? `<a href="javascript:void(0)" class="edit" data-toggle="modal" data-target="#editQty" rel="tooltip" title="Edit Qty">${data.qty}</a>` : data.qty
                        ]).draw(false);
                    }
                });

                $( table.column( 5 ).footer() ).html('Total '+table.column(5).data().reduce((a,b)=>intVal(a) + intVal(b),0));

            });
        }
    });
</script>

</html>